<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
 
<!--  <filter>
 	<filter-name>CharseEncodingFilter</filter-name>
 	<filter-class>cn.tf.filter.CharseEncodingFilter</filter-class>
 </filter>
 <filter-mapping>
 	<filter-name>CharseEncodingFilter</filter-name>
 	<url-pattern>/*</url-pattern>
 </filter-mapping> -->
 
 
  <servlet>
    <servlet-name>ManageServlet</servlet-name>
    <servlet-class>cn.tf.controller.ManageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>cn.tf.controller.ClientServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>cn.tf.controller.PayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponsePayServlet</servlet-name>
    <servlet-class>cn.tf.controller.ResponsePayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.tf.controller.LoginServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>ManageServlet</servlet-name>
    <url-pattern>/servlet/ManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientServlet</servlet-name>
    <url-pattern>/servlet/ClientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/servlet/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponsePayServlet</servlet-name>
    <url-pattern>/servlet/ResponsePayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>

</web-app>